name: Build APK

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install unzip
        run: |
          sudo apt-get update
          sudo apt-get install -y unzip

      - name: Unzip project
        run: |
          echo "=== ROOT BEFORE ==="
          ls -la

          unzip -o ChessAndroid.zip -d extracted

          echo "=== EXTRACTED ==="
          ls -la extracted

          shopt -s dotglob
          mv extracted/* .

          rm -rf extracted ChessAndroid.zip

          echo "=== ROOT AFTER ==="
          ls -la

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Build Debug APK
        run: |
          chmod +x gradlew
          ./gradlew :app:assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-debug
          path: app/build/outputs/apk/debug/app-debug.apk
